PROJECT_NAME=caltax
PROJECT_VERSION=0.1.0
PROJECT_DESCRIPTION=Income Tax Calculator and Regime Recommendation API

PORT=8000
ENVIRONMENT=DEVELOPMENT

DATABASE_URL=sqlite:///./tax_calculator.db

LOG_DIR=logs
